@charset "utf-8";
body {
	background-color:transparent;
}
.pseudo {
	font-family: "Arial Black", Gadget, sans-serif;
	color: #7B68EE;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
}
.message {
	font-family: "Times New Roman";
	font-size: 14px;
	color: #40E0D0;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
}
.marqueeBoxH {
	overflow: auto;
}
.marqueeBoxH {
    display: inline-block;
	width: 340px;
	height: 20px;
	white-space: nowrap;
}
.timestamp
{
	color:grey;
	font-size: x-small;
}
